@import "variables";
@import "skewed-edges";

/*
input[type=range] {
  -webkit-appearance: none; !* Hides the slider so that custom slider can be made *!
  width: 100%; !* Specific width is required for Firefox. *!
  background: transparent; !* Otherwise white in Chrome *!
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; !* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. *!
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  !* Hides the slider so custom styles can be added *!
  background: transparent;
  border-color: transparent;
  color: transparent;
}

!* Thumb styling *!
!* Special styling for WebKit/Blink *!
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; !* You need to specify a margin in Chrome, but in Firefox and IE it is automatic *!
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; !* Add cool effects to your sliders! *!
}

!* All the same stuff for Firefox *!
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

!* All the same stuff for IE *!
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=range]::-webkit-slider-thumb::before {
  content: "test";
}

input[type=range]::-moz-range-thumb::before {
  content: "test";
}

input[type=range]::-ms-thumb::before {
  content: "test";
}*/

.slider {
  float: right;
  width: 50%;
  margin-right: 13%;
  margin-top: 10px;
  padding: 10px 20px;

  @include angle-edge(#ffffff, topright, 3deg, bottomleft, 3deg);
}

.slider::before,
.slider::after {
  width: 100%;
}

.slider label {
  font-weight: bold;

  img {
    width: 10px;
    padding-right: 10px;
  }
}

input[type="range"]{
  width: 100%;
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.23, $primary-color),
                  color-stop(0.23, #000)
  );
}

#lender {
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  color-stop(0.43, $primary-color),
                  color-stop(0.43, #000)
  );
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #fff;
  border: 1px solid $primary-color;
  height: 15px;
  width: 15px;
}

input[type='range']::-webkit-slider-thumb::before {
  content: 'test';
}

.max {
  float: right;
}

fieldset {
  text-transform: uppercase;
  border: none;
  line-height: 30px;
}

form {
  margin: 0 auto;
}

button[type=submit] {
  background-color: $blue-color;
  padding: 20px;
  border: thick solid $primary-color;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 11pt;
  float: right;
  margin-top: 30px;

  img {
    //padding-top: 10px;
    padding-left: 20px;
  }
}

.slider table {
  text-transform: uppercase;
  //border-color: $primary-color;
  font-size: 10pt;
  display: inline-block;
  width: 30%;
  border-collapse: collapse;
  margin-top: 10px;

  td {
  padding: 2px 2px 2px 5px;
}

  td:first-child {
    width: 50%;
  }

  td:last-child {
    padding-left: 15px;
  }

  .numbers {
    color: $primary-color;
    font-weight: 900;
  }

  .outcome {
    font-size: 16pt;
  }

  #terminate {
    font-size: 8pt;
    text-align: center;
  }

  tr {
    border-bottom: thin solid $primary-color;
  }

  tr:last-child {
    border: none;
  }

  .borderRight {
    border-right: thin solid $primary-color;
  }
}